
.boton1 {
  background-color: red;
  color: white;
  font-size: 25px;
}

.boton2 {
  background-color: blue;
  color: black;
  font-size: 23px;
}

.boton1:hover {
  background-color: blue;
  color: black;
  font-size: 23px;
}

.boton2:hover {
  background-color: red;
  color: white;
  font-size: 25px;
}

.titulo1 {
  border-top-style: solid;
  border-right: #d998f3;
  border-left-style: groove;

  border-top-color: aqua;
  border-right-color: #3d538e;
  border-left-color: crimson;

  border-width: 15px;
  border-top-width: 25px;
}

h1 {
  color: #3d538e;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: #d998f3;
}

li {
  list-style-type: square;
}
