/* estilo para body */
body {
  background-color: black;
}

/* estilo para p */
p {
  color: aliceblue;
  font-size: 25px;
  margin: 25px;
}

/* Se crea un id para un <h1> para asignarle estilo */
#tituloPrincipal {
  color: rgba(106, 115, 231, 0.644);
  font-size: 50px;
}
/* Se crea un clase para centrar texto */
.centrado{
    text-align: center;
}

/* Se crea un clase para justificar texto */
.justificar{
    text-align: justify;
}

table{
  margin: 0 auto;
}